* {
  padding: unset;
  margin: unset;
}

body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.navbar-brand::after {
  position: absolute;
  top: 26%;
  right: -38%;
  width: 35%;
  height: 40%;
  background-color: black;
  content: "";
}

#welcome-div p:first-child {
  font-size: 3vw;
}

#welcome-div h1 {
  font-size: 8vw;
}

#responsive-nav ul {
  padding: unset;
  list-style: none;
}

#responsive-nav a {
  font-size: 5vw;
  font-weight: bold;
  color: #444;
  text-decoration: none;
}

#responsive-nav a::before {
  content: "> ";
}

#project-section {
  background: #ddd;
}

section > h2,
.title {
  padding-left: 10px;
  font-size: 46px;
}

.title {
  font-size: 40px;
}

#about-section img {
  margin: 0 0 5% 5%;
  transform: rotate(20deg);
}

.see-more {
  padding: 5px 8px;
  box-shadow: 0 1px black;
}

footer {
  height: 50px;
  background-color: black;
}
